.background-darker{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
}
.carouselInner-image{
    height: auto;
    max-height: 100vh;
}
.carousel-caption{
    top: 40%;
}

.carousel-caption>h1{
    font-size: 1.62rem;
    margin-bottom: 15px;
    color: #fc3c3c;
    font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
}

.captionImage{
    width: 170px;
    margin-bottom: 15px;
    object-fit: contain;
}
.captionImage-instagram{
    width: 95px;
    margin-bottom: 15px;
    object-fit: contain;
}
.btn-primary
{ 
    background-color: #E5B34B;
    border-color: #E5B34B;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #cc9a2e !important;
    border-color: #cc9a2e !important;
}

.slider-button{
    font-weight: 500;
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(229, 179, 79, .25) !important;
}


@media screen and (min-width: 320px) and (max-width: 700px){
    .carouselInner-image{
        height: 50vh;
        object-fit: cover;
    }

    .carousel-caption{
        position: relative;
        height: auto;
        background: #141414;
        left: 0;
        top: 0;
    }

    .captionImage{
        width: 90px;
    }

    .control-icon{
        position: absolute;
        top: 30%;
    }

    .slider-button{
        font-size: 13px;
        padding: 5px;
    }
}

