.about__container{
    min-height: 100vh;
    background-color: #141414;
    color: white;
    display: flex;
    position: relative;
    padding: 190px 90px;

}

.about__container1{
    padding-top: 0;
}
.about__container2{
    padding-bottom: 0;
}

.about__container h2{
    position: absolute;
    left: 60px;
    top: 100px;
    color: rgb(229, 175, 79);
}

.answer h4{
    margin-bottom: 35px;
}

.answer p {
    padding: 0 0 0 20px;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 35px;
}

.about__container-photo{
    max-height: 90vh;
}

.about__container-photo img{
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.about__container3{
    display: flex;
    justify-content: center;
    
}
.about__video-container{
    position: absolute;
    padding: 80px;
    top: 73px;
    width: 80%;
    height: 500px;
    background-color: transparent;
    border: 6px solid rgb(229, 175, 79);
}

.about__video-container-gray{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.about__container4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    
}

.card-hobbie{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    color: black;
}

.card-hobbie .imgBx-hobbie{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.card-hobbie:hover .imgBx-hobbie{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: .5s ease-in-out;
    background: #ff0057;   
}

.card-hobbie .imgBx-hobbie:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}

.card-hobbie .imgBx-hobbie svg{
    max-width: 100px;
    transition: .5s ease-in-out;
    color: white !important;
}

.card-hobbie:hover .imgBx-hobbie svg {
    max-width: 75px;
}

.card-hobbie .content-cardHobbie{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hobbie .content-cardHobbie h3{
    margin-bottom: 5px;
    font-size: 27px;
    font-weight: 500;
}

.card-hobbie .content-cardHobbie a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background: #333;

}

@media (max-width: 992px){
    .about__container4{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 190px;
    }
    .card-hobbie{
        width: 400px;
    }
}

@media (max-width: 768px){
    .card-hobbie{
        max-width: 300px;
        flex-direction: column;
        height: auto;

    }
    .card-hobbie .imgBx-hobbie{
        position: relative;
        
    }
    .card-hobbie .imgBx-hobbie,
    .card-hobbie:hover .imgBx-hobbie{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .card-hobbie .imgBx-hobbie svg,
    .card-hobbie:hover .imgBx-hobbie svg{
        max-width: 100px;
    }

    .card-hobbie .content-cardHobbie{
        position: relative;
        width: 100%;
        bottom: 0;
    } 
}


.stickAbout{
    height: 240px;
    width: 7px;
    background-color: rgb(229, 175, 79);
    position: absolute;
}
.ballAbout{
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 50%;
    background: rgb(229, 175, 79);
}

#s-1{
    top: 130px;
    right: 50px;
}
#ba-1{
    top: 124px;
    right: 45px;
}
#s-2{
    top: 48px;
    right: 142px;
    transform: rotate(90deg);
    height: 170px;
}

#s-3{
    right: 50px;
    bottom: 60px;
}
#ba-2{
    right: 45px;
    bottom: 57px;
}
#s-4{
    bottom: -27px;
    transform: rotate(90deg);
    right: 150px;
    height: 186px;
}

#s-5{
    bottom: 60px;
    left: 50px;
}

#ba-3{
    left: 45px;
    bottom: 57px;
}

#s-6{
    transform: rotate(90deg);
    bottom: -31px;
    left: 148px;
    height: 186px;
}

#ba-4{
    bottom: 57px;
    left: 50%;
    right: 50%;
}
#ba-5{
    bottom: 10px;
    left: 50%;
    right: 50%;
}
#ba-6{
    bottom: -37px;
    left: 50%;
    right: 50%;
    z-index: 1;
}
#ba-7{
    bottom: -84px;
    left: 50%;
    right: 50%;
    z-index: 1;
}