.about__container{
    min-height: 90vh;
    background-color: #141414;
    color: white;
    display: flex;
    position: relative;
    padding: 190px 20px;
    flex-wrap: wrap;

}

.about__container1{
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 90px;
}
.about__container2{
    padding-left: 20px;
    padding-bottom: 0;
}

.about__container h2{
    position: absolute;
    left: 60px;
    top: 100px;
    color: rgb(229, 175, 79);
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-style: italic;
}

.answer h4{
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
    color: #92681e;
}

.answer p {
    padding: 0 0 0 20px;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: .9px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 35px;
}


.about__container-photo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.about__container-photo img{
    max-width: 250px;
    object-fit: contain;
}

.about__container3{
    display: flex;
    justify-content: center;
    
}


.about__container-dropdown{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.about__container4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    padding: 190px 90px;
    
}

.card-hobbie{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    color: black;
}

.card-hobbie .imgBx-hobbie{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.card-hobbie:hover .imgBx-hobbie{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: .5s ease-in-out;
    background: #ff0057;   
}

.card-hobbie .imgBx-hobbie:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}

.card-hobbie .imgBx-hobbie svg{
    max-width: 100px;
    transition: .5s ease-in-out;
    color: white !important;
}

.card-hobbie:hover .imgBx-hobbie svg {
    max-width: 75px;
}

.card-hobbie .content-cardHobbie{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hobbie .content-cardHobbie h3{
    margin-bottom: 5px;
    font-size: 27px;
    font-weight: 500;
}

.card-hobbie .content-cardHobbie button{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background: #333;
    border: none;
}

.knowledgeList{
    padding-left: 50px;
    list-style: circle;
    margin-bottom: 40px;
}
.knowledgeList li{
    font-size: 18.5px;
    margin-bottom: 7px;
    letter-spacing: .9px;
    font-family: 'Lato', sans-serif;
}

.knowledgeList li a{
    color: #92681e;
}

.knowledgeList li a:hover{
    color: #e5b34b;
}

.knowledgeList li strong{
    cursor: pointer;
}

.knowledgeList li strong:hover{
    color: #bdbdbd;
}

.stickAbout{
    height: 240px;
    width: 7px;
    background-color: rgb(229, 175, 79);
    position: absolute;
}
.ballAbout{
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 50%;
    background: rgb(229, 175, 79);
}

#s-1{
    top: 130px;
    right: 50px;
}
#ba-1{
    top: 124px;
    right: 45px;
}
#s-2{
    top: 48px;
    right: 142px;
    transform: rotate(90deg);
    height: 170px;
}

#s-3{
    right: 50px;
    bottom: 0;
}
#ba-2{
    right: 45px;
    bottom: 0;
}
#s-4{
    bottom: -87px;
    transform: rotate(90deg);
    right: 150px;
    height: 186px;
}

#s-5{
    bottom: 0;
    left: 50px;
}

#ba-3{
    left: 45px;
    bottom: 0;
}

#s-6{
    transform: rotate(90deg);
    bottom: -87px;
    left: 148px;
    height: 186px;
}

#ba-4{
    bottom: 57px;
    left: 50%;
    right: 50%;
}
#ba-5{
    bottom: 10px;
    left: 50%;
    right: 50%;
}
#ba-6{
    bottom: -37px;
    left: 50%;
    right: 50%;
    z-index: 1;
}
#ba-7{
    bottom: -84px;
    left: 50%;
    right: 50%;
    z-index: 1;
}

.modal-content{
    background-color: #1b1b1b !important;
    color: #e5b34b;
}

.modal-body ul{
    list-style: devanagari;
    margin-left: 40px;
}

.modal-body ul li a{
    font-family: 'Lato', sans-serif;
    color: #7e7ef5;
}
.modal-body ul li a:hover{
    color: #a8a8ff;
}

@media screen and (min-width: 320px) and (max-width: 560px){
    .about__container2{
        padding-left: 20px;
        padding-right: 20px;
    }
    .about__container-text{
        padding-left: 0;
    }

    .about__container h2{
        left: 20px;
    }

    #s-1{
        top: 125px;
        right: 20px;
        height: 83px;
    }

    #ba-1{
        top: 115px;
        right: 15px;
        height: 17px;
        width: 17px;
    }

    #s-2{
        top: 107px;
        right: 44px;
        height: 33px;
    } 
    
    #own-modal{
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 710px){
    .about__container1{
        padding-left: 20px;
        padding-right: 0;
    }

    #s-5{
        bottom: 0;
        left: 20px;
    }

    #ba-3{
        left: 15px;
        bottom: 0;
    }

    #s-6{
        bottom: -65px;
        left: 99px;
        height: 146px;
    }

    #s-3 {
        right: 20px;
        bottom: 0;
    }

    #ba-2 {
        right: 15px;
        bottom: 0;
    }
    
    #s-4 {
        bottom: -65px;
        right: 92px;
        height: 146px
    }
}

@media screen and (min-width: 768px){
    .about__container1{
        padding-bottom: 0;
    }

    .about__container-text {
        padding-right: 0;
        padding-left: 46px;
    }

}

@media (max-width: 992px){
    .about__container4{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 190px;
    }
    .card-hobbie{
        width: 400px;
    }
}

@media (max-width: 767px){
    
    .about__container h4{
        left: 0;
    }
    
    .card-hobbie{
        max-width: 300px;
        flex-direction: column;
        height: auto;

    }
    .card-hobbie .imgBx-hobbie{
        position: relative;
        
    }
    .card-hobbie .imgBx-hobbie,
    .card-hobbie:hover .imgBx-hobbie{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .card-hobbie .imgBx-hobbie svg,
    .card-hobbie:hover .imgBx-hobbie svg{
        max-width: 100px;
    }

    .card-hobbie .content-cardHobbie{
        position: relative;
        width: 100%;
        bottom: 0;
    } 

    .about__container1{
        flex-direction: column-reverse;
        
    }

    .about__container{
        padding-left: 0;
    }

    .answer{
        padding-left: 20px;
    }
}


