.project__container{
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.notebookImage{
    width: 350px;
    object-fit: contain;
    background: transparent radial-gradient(closest-side at 50% 51%, #342525 0%, #141414 100%) 0% 0% no-repeat padding-box;
}

.project__container2:nth-child(2n+1){
     background: #141414;
    height: auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
}
.project__container2:nth-child(2n+2){
    background: #141414;
    height: auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    text-align: left;
}
.project-row{
    width: 100%;
}

.project__container-imgBox{
    position: sticky;
    top: 0;
    min-width: 50%;
    height: 100vh;
}

.project__container-imgBox img{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    transform: translate(-50%, -50%);
}

.project__container2:nth-child(2n+1) .project__container-content{
    padding: 0 0 100px 100px;
    padding-left: 0;
    padding-right: 25px;
    text-align: left;
}
.project__container2:nth-child(2n+2) .project__container-content{
    padding: 0 0 100px 100px;
    padding-left: 50px;
    padding-right: 0;
    text-align: left;
}

.project__container-content h2{
    margin: 0 0 20px;
    font-size: 60px;
}

.project__container-content p{
    color: #777;
    font-size: 18px;
    
}

.imageVideo{
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width: 900px){
    .project__container-imgBox img{
        width: 100%;
    }
}


@media screen and (min-width: 320px) and (max-width: 425px){
    .project-row{
        display: flex;
        height: auto;
        width: auto;
        flex-direction: column-reverse;
    }

    #row2{
        flex-direction: column;
    }
    
    .project__container-imgBox img{
        position: relative;
        margin-bottom: 35px;
    }
    
    .project__container2:nth-child(2n+1) .project__container-content{
        padding-bottom: 0;
        text-align: center;
        padding-right: 0;
    }

    .project__container-content h2{
        font-size: 45px;
    }

    .project__container-content p{
        padding: 40px;
    }

    .project__container2:nth-child(2n+2) .project__container-content{
        padding: 0;
        text-align: center;
    }

    .notebookImage{
        width: 300px;
    }
}