

.wrapperMain {
    position: relative;
    height: 200vh;
    z-index: -1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #010101;
  }
.container-effect{
  position: fixed;
  top: 220px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-effect{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-image: url('../../images/mainImage.jpg');
  background-attachment: fixed;
  clip-path: circle(0px at center)
}
.wavy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 40px;
}

.wavy p{
  position: relative;
  font-family: sans-serif;
  color: #e5b34b;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #e5b34b, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animateFT 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 194, 68, .15);

}

@keyframes animateFT{
  0%{
    background-position: -500%;
  }
  100%{
    background-position: 500%;
  }
}

.frontend-engineer {
  color: white;
  font-size: 23px;
  letter-spacing: 2px;
}


.skills-title-container{
  text-align: center;
  padding: 100px 0;
  color: #e5b34b;
  background-color: #141414; 
}

.booksProjects-container{
  width: 100%;
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../images/floor.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.booksProjects-book{
  position: relative;
  top: 0;
  width: 300px;
  height: 500px;
  background: #fff;
  transform: rotate(-37.5deg) skewX(10deg);
  box-shadow: -35px 35px 50px rgba(0, 0, 0, 1);
  transition: .5s;
}
.booksProjects-book:hover{
  transform: rotate(-37.5deg) skewX(10deg) translate(20px, -20px);
  box-shadow: -50px 50px 100px rgba(0, 0, 0, 1);
}
.booksProjects-book:before{
  content: '';
  width: 30px;
  height: 100%;
  background: url('../../images/bg.jpg');
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-45deg) translate(-30px, -15px);
  box-shadow: inset -10px 0 20px rgba(0, 0, 0, .2);
}
.booksProjects-book:after{
  content: '';
  width: 100%;
  height: 30px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewX(-45deg) translate(15px, 30px);
}

.booksProjects-book h2{
  position: absolute;
  bottom: 80px;
  left: 20px;
  font-weight: 700;
  font-size: 4em;
  line-height: 76px;
  color: #fff;
}

.booksProjects-book h2 span{
  background: url('../../images/bg.jpg');
  background-attachment: fixed;
  font-size: 70px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.book-credits{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #262626;
  font-size: .6em;
  padding-top: 5px;
  font-weight: 500;
  border-top-left-radius: 1px solid #262626;

}

.book-credits i{
  font-weight: 700;
}

.book-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url('../../images/bg.jpg');
  background-size: cover;
  
}


@media screen and (max-width: 768px){
  
  .container-effect{
    flex-direction: column;
  }

  .container-effect svg{
    width: 150px;
    height: 150px;
  }

  .wavy{
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
  }
  .wavy p{
    padding: 0 40px;
  }

  #g-1{
    left: 10px !important;
  }

  .booksProjects-container{
    min-height: 100vh;
  }

  .booksProjects-book{
    width: 250px;
    height: 350px;
  }

  .booksProjects-book h2{
    display: flex;
    flex-direction: column;
    bottom: 50px;
    left: 20px;
    line-height: normal;
    font-size: 3em;
  }

  .booksProjects-book h2 span{
    font-size: inherit;
  }
}

@media screen and (max-width: 475px){
  .container-effect{
    flex-direction: column;
    top: 25%;
    bottom: 50%;
    height: 50%;
  }

  .container-effect svg{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }


  .frontend-engineer{
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Poppins';
  }

  .image-effect{
    background-position-x: 50%;
    background-size: cover;
  }

  .booksProjects-book{
    width: 175px;
    height: 280px;
  }

  .booksProjects-book h2{
    bottom: 40px;
    left: 11px;
    line-height: normal;
    font-size: 2.5em;
  }
}
