*{
    margin: 0;
    padding: 0;
}
#app{
    box-sizing: border-box;
    
}
a:hover{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    #app{
        overflow-x: hidden;
    }
}