*{
    margin: 0;
    padding: 0;
}
#app{
    box-sizing: border-box;
    background: #141414;
    
}
a:hover{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    #app{
        overflow-x: hidden;
    }
}