.error-container{
    height: 100vh;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-error{
    text-align: center;
    margin-top: 50px;
}

.logo-error{
    animation: rotateLogo 2s infinite;
    width: 50%;
}

.title-error{
    color: rgba(229, 179, 75, 1);
    margin-top: 20px;
}

.subtitle-error{
    color: rgba(255, 255, 255, .5);
    margin-bottom: 40px;
    margin-top: 0;
}

@keyframes rotateLogo {
    from{
        transform: rotate3d(0,0,0,0)
    }
    to{
        transform: rotate3d(0, 0, 1, -360deg);
    }
}